body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #11182a;
  color: white;
}

.top-bar {
  background-color: #1A2234;
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.top-bar .left a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
.top-bar .right i {
  font-size: 18px;
}

.navbar {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  background: linear-gradient(to right, #f2f2f2, #1a2234a2);
}
.navbar .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}
.navbar .logo img {
  height: 45px;
  margin-right: 10px;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.navbar .nav-links a {
  text-decoration: none;
  font-weight: bolder;
  color: #000000;
  
}

.search-box {
  padding-right: 10px;
  color:#e6e6e6;
  position: relative;
  display: flex;
  align-items: center;
}
.search-box input {
  display: none;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  transition: width 0.3s ease;
}
.search-box:hover input {
  display: inline-block;
  width: 150px;
}

/* Sign Up Container */
.signup-container {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
}

.main-logo {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 100%;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

/* Input fields */
.input-group {
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.input-group .icon {
  margin-right: 10px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #333;
}

/* Role Dropdown */
.role-select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #d3d3d3;
  border: none;
  font-size: 14px;
  margin-bottom: 15px;
  color: #333;
}

/* Buttons */
.signup-btn {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.or-divider {
  margin: 15px 0;
  font-size: 14px;
}

.google-btn {
  background-color: #d3d3d3;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

/* Log in Redirect */
.login-text {
  margin-top: 15px;
  font-size: 12px;
}

.login-link {
  color: white;
  background-color: #6b6b6b;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
}
