body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1A2234;
  box-sizing: border-box;
}

.top-bar {
  background-color: #1A2234;
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.top-bar .left a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
.top-bar .right i {
  font-size: 18px;
  color: whitesmoke;
}

.navbar {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  background: linear-gradient(to right, #f2f2f2, #1a2234a2);
}
.navbar .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}
.navbar .logo img {
  height: 45px;
  margin-right: 10px;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.navbar .nav-links a {
  text-decoration: none;
  font-weight: bolder;
  color: #000000;
  
}

.search-box {
  padding-right: 10px;
  color:#e6e6e6;
  position: relative;
  display: flex;
  align-items: center;
}
.search-box input {
  display: none;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  transition: width 0.3s ease;
}
.search-box:hover input {
  display: inline-block;
  width: 150px;
}

.hero {
  background: url('explore.jpg') no-repeat center center/cover;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 5px;
}

.hero-text h1 {
  margin-bottom: 5px;
  font-size: 60px;
}
.hero-text p {
  margin-bottom: 30px;

}
.hero-text button {
  background-color: #1A2234;
  color: white;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.event {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  padding-left: 70px;
  color: #e6e6e6;
}
.event-text {
  width: 50%;
}
.event-image img {
  width: 100%;
  max-width: 400px;
  padding-right: 50px;
}
.event button {
  margin-top: 15px;
  background-color: #0b2c59;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
}

.categories {
  padding: 50px 20px;
  text-align: center;
  color: #e6e6e6;
}
.categories h2 {
  margin: 30px;
  font-size: 28px;
}
.category-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.category {
  width: 220px;
  text-align: center;
}
.category img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
}
.category h3 {
  margin-top: 10px;
  font-size: 18px;
}
.category p {
  padding: 10px;
  font-size: 14px;
}

footer {
  background: linear-gradient(to bottom, #60626A, #BDC1D0); 
  text-align: center;
  padding: 20px;
  font-weight: bold;
  border-top: 1px solid #ccc;
}
.footer-logo img {
  height: 110px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.footer-links {
  margin: 35px 0;
}

.footer-links button{
  margin-top: 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px 30px;
  border: none;
  border-radius: 5px;
}
.footer-links a, .footer-links select {
  margin: 0 10px;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

footer p {
  font-size: 12px;
  color: #050404;
  margin-top: 10px;
}
